.table-container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table{
  border-collapse: collapse;
  width: 90%;
}

.table th{
  background-color: rgb(46, 128, 98);
  padding: 0.5rem;
  text-align: left;
  color: white;
}

.table tr{
  text-align: left;
  border: 1px solid grey;
}

.table td{
  padding: 0.5rem;
}

.table tr:nth-child(even){
  background-color: rgb(241, 245, 248);
}

.table tr:hover{
  background-color: whitesmoke;
  cursor: pointer;
}

.table tr:last-child{
  border-bottom: 3px solid rgb(46, 128, 98);
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem
}

.pagination button{
  background-color: rgb(46, 128, 98);
  border-style: none;
  height: 2.5rem;
  width: 5rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination span{
  background-color: rgb(46, 128, 98);
  padding: 0.5rem;
  color: white;
  border-radius: 2px;
}

.pagination button:hover{
  background-color: rgb(73, 163, 130);
}

.pagination button:disabled {
  background-color: grey;
  cursor: not-allowed;
}